*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(to right, whitesmoke,rgb(250, 187, 198));
}

/* TEXT-SCROLL */

.txt-scroll{
    height: 30px;
    width: 100%;
    display: flex;
    box-sizing: content-box;

}

.scroll{
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    
}

.text-offer{
    display: block;
    height: 100%;
    animation: scro 8s infinite;
    color: black;
    font-weight: bold;
}

@keyframes scro {
    10%{
        transform: translateY(-102%);
    }

    25%{
        transform: translateY(-100%);
    }

    40%{
        transform: translateY(-202%);
    }

    65%{
        transform: translateY(-200%);
    }

    80%{
        transform: translateY(-302%);
    }

    100%{
        transform: translateY(-300%);
    }
    
}

/* CREATING A MENU BAR */

.navbar{
    margin-top: 15px;
    height: 90px;
    width: 100%;
    background-color: black;
    display: flex;
}

.first-half{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.logo{
    margin-left: 10px;
}

.logo-rcos{
    color: white;
    font-size: 25px;
}

.nav-links{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.second-half{
    height: 100%;
    width: 40%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.second-half input{
    height: 45%;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 9px;
    font-size: 15px;
}

.second-half input::placeholder{
    color: white;
}

.cart-logo{
    display: flex;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: space-around;


}

.cart-logo .cartlogo{
    color: white;
    font-size:20px ;
}

/* CONTENT-BOX */

.content-box{
    width: 100%;
    height: 500px;
    display: flex;
}

.img-half{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shoe-img{
    height: 60%;
    width: 80%;
    
    margin-top: 70px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shoe-img img{
    height: 100%;
    filter: drop-shadow(0 12px  15px red);
    transition: 0.3s;

    &:hover{
        height: 102%;
    }
} 


.shoe-size{
    height: 50px;
    width: 60%;
    margin-top:50px;
    margin-left: 10px;
}


.shoe-size p{
    margin-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.num{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.num .size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 2px solid purple;
    border-radius: 5px;
    background-color: rgb(248, 219, 248);
    font-weight: bold;
}

.content-half{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.content-half h2{
    margin-top: 50px;
    font-size: 35px;
    font-weight: bolder;
}

.content-half h5{
    font-size: 20px;
    margin-top: 30px;
}

.content-half .color{
    font-size: 18px;
}

.price{
    margin-top: 25px;
    font-size: 25px;
    color: red;
    font-weight: bold;
}

.description{
    margin-top: 25px;
    font-size: 18px;
    
    height: 30%;
}

.buttons-cart-buynow{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 35%;
    justify-content: space-evenly;
   
}

.buy-now{
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.add-to-cart{
    font-size: 18px;
    height: 40px;
    font-weight: bold;
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}